@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

<div class="project-ultetes-container">
    <h2>Sikeresen betöltött az új Hónap Modul!</h2>
    <p>A DNN most már a helyes MVC motort használja.</p>
</div>  